<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
        <title>hello</title>
        <style media="screen">
            h3 {
                border: 1px solid black;
                display: inline-block;
            }
            .wrapper {
                margin: auto;
                width: 500px;
                text-align: center;
            }

        </style>
    </head>
    <body>
        <div class="wrapper">
            <h3>The current time and date</h3>
            <div class="line"><span class="text html basic"><span>{{dateTime}}</span></span></div>
        </div>
    </body>
</html>
