.wrapper {
    margin: auto;
    text-align: center;
}
h1 {
    margin-top: 10%;
}
.button {
    margin: 10px;
}
.wrong {
    height: 300px;
    width: 300px;
    display: inline-block;
    background-color: red;
    border: 5px solid black;
    font-size: 50px;
    color: white;
}
.wrong p {
    margin-top: 130px;
}
.correct {
    height: 300px;
    width: 300px;
    display: inline-block;
    background-color: green;
    border: 5px solid black;
}
.wrapper form {
    display: block;
    margin-left: 565px;
    width: 130px;
}
.correct form {
    margin-left: 85px;
}
.correct p {
    font-size: 50px;
    color: white;
}
