<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <div class="wrapper">
            <h1>Add a New Product</h1>
            <form class="" action="{%url 'my_create' %}" method="post">
                {% csrf_token %}
                Name<input type="text" name="name" value="">
                Description<input type="text" name="description" value="">
                Price<input type="text" name="price" value="">
                <input type="submit" value="Create">
            </form>
            <a href="{% url 'my_index' %}">Go Back</a>
        </div>
    </body>
</html>
